flask
flask-flatpages
pygments
bleach
smartypants
gunicorn
feedwerk

# We have to use git here because there aren't any proper PyPi builds.
git+https://github.com/jambonrose/markdown_superscript_extension.git
git+https://github.com/jambonrose/markdown_subscript_extension.git
