/* global css rules */
body {
	font-family: Helvetica, sans-serif;
	color: #333333;
	background-color: #f9f9f9;
}

a:link, a:visited, a:active {
	color: #d64937;
	text-decoration: none;
}

a:hover {
	color: #d64937;
	text-decoration: underline;
}

a:active {
	color: #555555;
	text-decoration: none;
}

/* header title */
header {
	overflow: hidden;
	color: #f9f9f9;
	background-color: #333333;
}

header > h1 {
	font-family: monospace;
	font-size: 24px;
	font-weight: 400;
	float: left;
	padding: 10px 10px 10px 10px;
}

header > h1 > .path {
	color: #3775d6;
	font-weight: bold;
}

header > h1 > .cursor {
	font-weight: 900;
	color: #37d649;
	-webkit-animation: blink 1s steps(1, end) infinite;
	   -moz-animation: blink 1s steps(1, end) infinite;
	        animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
	0%  {opacity: 1}
	50% {opacity: 0}
}

@-moz-keyframes blink {
	0%  {opacity: 1}
	50% {opacity: 0}
}

@-webkit-keyframes blink {
	0%  {opacity: 1}
	50% {opacity: 0}
}

header > h1 > .prompt {
	color: #d64937;
}

/* header navbar */
header > nav {
	float: right;
}

header > nav > li {
	float: none;
	display: inline-block;
	background: inherit;
	list-style: none;
	padding: 15px 0 10px 0;
}

header > nav > li:hover {
	background: #1d1d1d;
}

header > nav > li:hover > a {
	color: #7d7d7d;
	text-decoration: none;
}

header > nav > li:active > a {
	color: #f9f9f9;
	text-decoration: none;
}

header > nav > li > a {
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 8px 10px 8px;
	float: none;
}

/* body */
article.main {
	float: none;
	overflow: hidden;
	color: #333333;
	padding: 25px 25% 25px 25%;
}

article.main > h1 {
	padding: 0 0 4px 0;
}

article.main > p {
	padding: 2px;
}

article.main > h1 {
	font-family: monospace;
	font-weight: bold;
	font-size: 20px;
}

article.main > ul,
article.main > ol {
	list-style: none;
}

/* footer */
footer {
	text-align: center;
	float: bottom;
	color: #555555;
	background-color: #dedede;
	padding: 15px 0 25px 0;
}

footer > p {
	margin: 10px 0 0 0;
}
