{% extends "layout.html" %}
{% block title %}Blog{% endblock %}
{% block body %}

<h2>
	Blog
	<small><a href="{{ url_for("blog_feed") }}">Atom Feed</a></small>
</h2>
<p>Inside these pages you will find a collection of my personal ramblings
(including security disclosures, my thoughts on various topics, and anything
else that I feel like writing about).</p>

{% if g.bl_filter %}
<h4>{{ g.bl_filter_type }}: {{ g.bl_filter.title() }}</h4>
{% endif %}

<dl>
{# Post list. #}
{% for post in posts %}
	<dt>
		<a href="{{ post.url }}">{{ post.title }}</a>
		<small>
			<a href="{{ url_for("blog_filter_author", author=post.author) }}">{{ post.author }}</a>,
			{{ post.published.strftime(g.date_format) }}.
		</small>
	</dt>
	<dd>
		{{ post.description|safe }}
	</dd>
	<dd>
		<p>
		{% for tag in post.tags %}
			<a href="{{ url_for("blog_filter_tag", tag=tag) }}"><code>{{ tag }}</code></a>
		{% endfor %}
		</p>
	</dd>

	{# I don't know how else to make this CSS work here. #}
	<br/>
{% endfor %}
</dl>

{# No posts? #}
{% if not posts %}
	<center>
		<b>Sorry, could not find any posts.</b>
	</center>
{% endif %}

{# Pagination. #}
{% if posts %}
<footer class="pagination">
	<p>
		{% if (page - 1) >= 1 %}
			<a href="{{ g.bl_url_for(page=(page - 1)) }}">&laquo; Prev</a> |
		{% endif %}
		Page <b>{{ page }}</b> of <b>{{ pages }}</b>
		{% if (page + 1) <= pages %}
			| <a href="{{ g.bl_url_for(page=(page + 1)) }}">Next &raquo;</a>
		{% endif %}
	</p>
</footer>
{% endif %}

{% endblock %}
