{% extends "layout.html" %}
{% block title %}{{ post.title | striptags }}{% endblock %}
{% block _head %}
<script type="text/javascript">
	// Set Disqus variables.
	var disqus_shortname = 'cyphar';
	var disqus_identifier = '{{ post.ident }}';

	// Inject Disqus embed.
	(function() {
		var dsq = document.createElement('script');
		dsq.type = 'text/javascript';
		dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
{% endblock %}
{% block body %}

<h2>
	<a href="{{ url_for("blog") }}">&laquo;</a>
	{{ post.title | safe }}
	<p class="floatright">
		<small><a href="{{ url_for("blog_filter_author", author=post.author) }}">{{ post.author }}</a></small>
	</p>
	<p>
		<p class="floatleft">
		{% for tag in post.tags %}
			<a href="{{ url_for("blog_filter_tag", tag=tag) }}"><code>{{ tag }}</code></a>
		{% endfor %}
		</p>
		<p class="floatright">
			<small>{{ post.published.strftime(g.date_format) }}</small>
		</p>

		{# Don't ask. #}
		<br>
	</p>
</h2>

{{ post.html|safe }}

{# Disclaim that these are my own opinions. #}
<small>
	<p>Unless otherwise stated, all of the opinions in the above post are solely
	my own and do not necessary represent the views of anyone else. As such,
	this post is released under the <a href="https://creativecommons.org/licenses/by-nd/4.0/">Creative Commons BY-ND 4.0 license</a>.</p>
</small>

{# Shamelessly plug the Atom feed. #}
<small>
	<p>Want to keep up to date with my posts?</p>
	<p>You can subscribe to the <a href="{{ url_for("blog_feed") }}">Atom Feed</a>.</p>
</small>

{# Insert the Disqus comment section. #}
<div id="disqus_thread">
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments.</a></noscript>
</div>

{% endblock %}
