{% extends "layout.html" %}
{% block title %}Aleksa Sarai{% endblock %}
{% block body %}

<h2>Hello, world!</h2>
<p>Hi there! I'm <b>Aleksa Sarai</b>, and this is my site.</p>

<h3>Who are you?</h3>
<p>I am ... </p>

<ul class="dots">
	<li>a <b>programmer</b>.</li>
	<li>a <b>security researcher</b>.</li>
	<li>a <b>linux enthusiast</b> and <b>system administrator</b>.</li>
	<li>a <b>science enthusiast</b>.</li>
	<li>an overall nerd.</li>
	<li class="spacer"></li>
	<li>a dragon slayer.</li>
	<li>a time-travelling walrus.</li>
	<li>secretly in control.</li>
	<li>129.3% mech overlord.</li>
	<li>in the matrix.</li>
</ul>

<h3>Where can I find you?</h3>
<p>If you're on IRC, I'm usually on <code>irc.freenode.net</code> with the nick <code>cyphar</code>.</p>
<p>Otherwise, here are my relevant links:</p>

<ul class="dots">
{% for contact in g.contacts %}
	{% if contact.url %}
		<li><a href="{{ contact.url }}">{{ contact.contact }}</a></li>
	{% else %}
		<li><a>{{ contact.contact }}</a></li>
	{% endif %}
{% endfor %}
</ul>

{% endblock %}
