{% extends "layout.html" %}
{% block title %}Aleksa Sarai{% endblock %}

{% block body %}
<h2>Hello, world!</h2>
<p>I'm <b>Aleksa Sarai</b>, and this is my slice of internet real estate.
I'm an undergraduate student at <a href="https://sydney.edu.au/">The University of Sydney</a>,
and have had an interest in both the physical and computer sciences from a very young age.</p>

<p>I've been known to <a href="{{ url_for("code") }}">write code</a> for my own
enjoyment and edification. I also like to <a href="{{ url_for("security") }}">hack things</a>
for fun and profit. In addition, I love nerding out and <a href={{ url_for("blog") }}>blogging</a>
about any really interesting problem I've decided to put my mind to. I've written
and coauthored <a href="{{ url_for("papers") }}">several papers</a> based on research
I've done at the University of Sydney.</p>

<h3>Who are you?</h3>

<p>First and foremost, I am a "designated communications provider" under
&sect;317C(6) of the Telecommunications Act 1997 (<a href="https://www.legislation.gov.au/Details/C2018A00148">as amended by the Assistance and Access Act 2018</a>).
Any and all backdoors written by myself are courtesy of the Australian
Government (in their infinite wisdom).</p>

<p>Under &sect;317ZF(13), I am permitted to disclose aggregated statistics of
how many notices I've been given within a 6-month period. I am still in the
process of getting legal advice on <em>precisely</em> how this should be done
in practice. All of the work I do is on free software projects, and thus the
source code is available for auditing. I hope you don't assume I've been
compromised by a government that has no idea what it's doing.</p>

<p>In addition to being a potential spy, I am ... </p>

<ul class="dots">
	<li>a <b>programmer</b>.</li>
	<li>a <b>security researcher</b>.</li>
	<li>a <b>GNU/Linux enthusiast</b>.</li>
	<li>a <b>science enthusiast</b>.</li>
	<li>an developer at SUSE.</li>
</ul>

<p>And I use vim.</p>

<h3>What do you know?</h3>
<p>Hello, recruiters! If you were looking for some buzzwords to match using Google,
here they are: <small><em>C, Python, Bash, Go, Haskell, x86 Assembly, Kernel, Synergy,
Security, System, Developer, Programming, Code, Software, Computers, Computing,
Machine, Physics, Science, Problem Solving, Bugging, Debugging, Drinking, Hacking,
Penetration Testing, Web Scale, MongoDB, Redis, NoSQL, Organic, GMO Free,
Magic Sauce Implementer, Kool-Aid Drinker.</em></small></p>

<h3>Where can I find you?</h3>
<p>If you want to email me, you can reach me at <a href="mailto:cyphar@cyphar.com"><code>cyphar@cyphar.com</code></a>.
I'm on Matrix with the nick <code>@cyphar:matrix.org</code>, and am <code>cyphar</code> in most places.</p>

<ul class="dots">
{% for contact in contacts %}
	{% if contact.url %}
		<li><a href="{{ contact.url }}">{{ contact.contact }}</a></li>
	{% else %}
		<li><a>{{ contact.contact }}</a></li>
	{% endif %}
{% endfor %}
</ul>

<h3>Avoiding Cloudflare CAPTCHA</h3>
<p>If you're a <a href="https://www.torproject.org/">Tor user</a> then you've
probably seen enough Cloudflare CAPTCHA to last you a lifetime. To help remedy
this, you can access my website using this onion address:
<a href="http://dqzsjhefvopcfbn5.onion/"><code>dqzsjhefvopcfbn5.onion</code></a>.
This onion address has been set up using a <a href="/src/mkonion">tool I wrote</a>,
which you should check out if you want to set up Docker containers to have onion
addresses.</p>
{% endblock %}
