{% extends "layout.html" %}
{% block body %}

<h2>Hello, world!</h2>
<p>Hi there! I'm Aleksa, and this is my site.</p>

<h3>Who are you?</h3>
<p>I am ... </p>

<ul class="dots">
<li>a security researcher.</li>
<li>a programmer.</li>
<li>a linux enthusiast and sysadmin.</li>
<li>a science enthusiast.</li>
<li>an overall nerd.</li>
<br/>
<li>a dragon slayer.</li>
<li>a time-travelling walrus.</li>
<li>secretly in control.</li>
<li>129.3% mech overlord.</li>
<li>in the matrix.</li>
</ul>

<h3>Where can I find you?</h3>
<p>If you're on IRC, I'm usually on <code>freenode.net</code> with the nick <code>cyphar</code>.</p>
<p>Otherwise, here are my relevant links:</p>

<ul class="dots">
<li><a href="https://github.com/cyphar">GitHub</a></li>
<li><a href="https://bitbucket.org/cyphar">Bitbucket</a></li>
<li><a href="https://twitter.com/thecyphar">Twitter</a></li>
<li><a href="https://www.linkedin.com/profile/view?id=327408242">LinkedIn</a></li>
</ul>

{% endblock %}
