<!doctype html>
<html lang="en">

<head>
<title>{% block title %}Page{% endblock %} | Cyphar</title>
{% block meta %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{% block description %}Aleksa Sarai [cyphar] (n): A Programmer, Security Researcher, Linux and Science Enthusiast and Atheist.{% endblock %}" />
<meta name="keywords" content="{% block keywords %}aleksa sarai,aleksa,sarai,cyphar,programmer,linux,security,science,atheist{% endblock %}" />
<meta name="author" content="{% block author %}Aleksa Sarai{% endblock %}" />
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}" />
<!--[if !IE 7]>
	<style type="text/css">
		.wrapper {
			display: table;
			height: 100%;
		}
	</style>
<![endif]-->
{% endblock %}
</head>
<body>
	<div class="wrapper">
		<header>
			<h1 class="mono">
				<span class="path">~</span>
				<span class="prompt">#</span>
				<span class="command">./cyphar.sh</span><span class="cursor">_</span>
			</h1>
			<nav>
				<a href="{{ url_for('home') }}">Home</a>
				<a href="{{ url_for('projects') }}">Projects</a>
				<a href="{{ url_for('security') }}">Security</a>
			</nav>
		</header>

		<article class="main">
			{% block body %}{% endblock %}
		</article>
	</div>
	<footer>
		<p>
			<a href="{{ url_for('home') }}">Home</a> |
			<a href="{{ url_for('projects') }}">Projects</a> |
			<a href="{{ url_for('security') }}">Security</a>
		</p>
		<p>Copyright &copy; Cyphar 2014. All wrongs reserved.</p>
	</footer>
</body>
</html>
