<!doctype html>
<html lang="en">

<head>
<title>{% block title %}Untitled{% endblock %} | Cyphar</title>
{% block meta %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{% block description %}The wild ramblings of Aleksa Sarai (aka Cyphar). A Free Software Developer, Security Researcher, GNU/Linux and Science Enthusiast and Freethinking Atheist.{% endblock %}" />
<meta name="keywords" content="{% block keywords %}aleksa sarai,aleksa,sarai,cyphar,free software,developer,programmer,gnu,gnu/linux,linux,security,science,atheist{% endblock %}" />
<meta name="author" content="{% block author %}Aleksa Sarai{% endblock %}" />
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/reset.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/general.css") }}" />
<link rel="alternate"  type="application/atom+xml" href="{{ url_for("blog_feed") }}" />
<!--[if !IE 7]>
	<style type="text/css">
		.wrapper {
			display: table;
			height: 100%;
		}
	</style>
<![endif]-->
<script type="text/javascript" src="{{ url_for("static", filename="js/highlight.js") }}"></script>
{#<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>#}
{% block _head %}
{# Additional <head> data. #}
{% endblock %}
{% endblock %}
</head>
<body>
		<!-- See you're looking at my source, huh?
			 I'd recommend just going here: https://github.com/cyphar/cyphar.com
			 (it's much less tiresome to just pull the repo and look at the server code) -->
		<div class="wrapper">
			<header class="navbar">
				<h1 class="mono">
					<span class="path">~</span>
					<span class="prompt">%</span>
					<span class="command">./<a href="{{ url_for("home") }}" class="no-underline">cyphar</a>.sh</span><span class="cursor">_</span>
				</h1>
				<nav>
					<a href="{{ url_for("home") }}">Home</a>
					<a href="{{ url_for("blog") }}">Blog</a>
					<a href="{{ url_for("code") }}">Code</a>
					<a href="{{ url_for("security") }}">Security</a>
					<a href="{{ url_for("papers") }}">Papers</a>
				</nav>
			</header>

			<img src="{{ url_for("static", filename="img/profile.png") }}" id="profile-image" />

			<article class="main">
				{% block body %}{% endblock %}
			</article>
	</div>

	<footer class="pagefooter">
		<p>
			<a href="{{ url_for("home") }}">Home</a> |
			<a href="{{ url_for("blog") }}">Blog</a> |
			<a href="{{ url_for("code") }}">Code</a> |
			<a href="{{ url_for("security") }}">Security</a> |
			<a href="{{ url_for("papers") }}">Papers</a>
		</p>
		<p>Copyright &copy; Aleksa Sarai 2016. All wrongs reserved. <a href="{{ url_for("src_redirect", project="cypharcom")}}">Source code</a>.</p>
	</footer>
</body>
</html>
