{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block description %}A list of the most notable software projects Aleksa Sarai has worked on.{% endblock %}
{% block body %}

<h2>Projects</h2>
<p>Having programmed for most a majority of my life, I have worked on quite a few software projects in that time.
The following is a list of the most notable projects I have worked on or contributed to.</p>

<dl>
{% for project in projects %}
	<dt>
		{% if project.url %}
			<a href="{{ project.url }}">{{ project.project }}</a>
		{% else %}
			<a>{{ project.project }}</a>
		{% endif %}

		{% if project.language %}
			<small>{{ project.language }}</small>
		{% endif %}
	</dt>

	{% if project.description %}
	<dd>
		<p>{{ project.description|safe }}</p>
	</dd>
	{% endif %}
{% endfor %}
</dl>

{% endblock %}
