{% extends "layout.html" %}
{% block body %}

<h2>Projects</h2>
<p>Having programmed for most a majority of my life, I have worked on quite a few software projects in that time.
The following is a list of the most notable projects I have worked on or contributed to.</p>

<dl>
<dt><a href="https://play.google.com/store/apps/details?id=com.jtdev.dotrush">dotRush</a></dt>
<dd>Very addictive android game. Eat the smaller dots to grow and eat bigger dots. Just don't get dotrush'd.</dd>
<dt><a href="https://github.com/ackwell/ninjabot">ninjabot</a></dt>
<dd>Modular IRC bot written in Python. Supports dynamic reloading of bot modules and core.</dd>
<dt><a href="https://github.com/cyphar/rawline">rawline</a></dt>
<dd>The small and self-contained line-editing library. Written in less than 1000 lines of ANSI C and can easily be included in any project.</dd>
<dt><a href="https://github.com/cyphar/magnesium">magnesium</a></dt>
<dd><b>(WIP)</b> Explosive messaging -- decentralised, zero-configuration LAN chat system for enterprise.</dd>
<dt><a href="https://github.com/cyphar/synge">synge</a></dt>
<dd>Very powerful scientific calculation engine. Supports variables, short-cutting conditions and recursive expressions.</dd>
<dt><a href="https://github.com/cyphar/epyc">perfectgift</a></dt>
<dd>A tornado webapp, written by Group 4 at the NCSS Summer School 2014 all-nighter. Get the perfect gift for your friends, with this innovative wishlist app.</dd>
<dt><a href="https://github.com/cyphar/epyc">epyc</a></dt>
<dd>A python templating language (written for <a href="https://github.com/cyphar/perfectgift">perfectgift</a>).</dd>
<dt><a href="https://github.com/cyphar/copper">copper</a></dt>
<dd>Cu, a C userland.</dd>
<dt><a href="https://github.com/cyphar/ttu">ttu</a></dt>
<dd>Small program which silently converts TCP sockets to Unix sockets for any standard *nix executable.</dd>
<dt><a href="https://github.com/cyphar/tic-tac-toe">tic-tac-toe</a></dt>
<dd>The classic game, boasting a heuristic AI. Supports zero, one or two players.</dd>
<dt><a href="https://github.com/cyphar/ascii-snake">ascii-snake</a></dt>
<dd>Remake of the Nokia snake game for *nix consoles, with several compile-time configuration options.</dd>
<dt><a href="https://github.com/cyphar/moss">moss</a></dt>
<dd>A simple command-line file viewer. Supports regex searching, multiple files, switching to <code>$EDITOR</code> and file reloading.</dd>
</dl>

{% endblock %}
