{% extends "layout.html" %}
{% block body %}

<h2>Projects</h2>
<p>Having programmed for most a majority of my life, I have worked on quite a few software projects in that time.
The following is a list of the most notable projects I have worked on or contributed to.</p>

<dl>
	<dt>
		<a href="https://play.google.com/store/apps/details?id=com.jtdev.dotrush">dotRush</a>
		<small>Java</small>
	</dt>
	<dd><p>Very addictive android game. Eat the smaller dots to grow and eat bigger dots. Just don't get dotrush'd.</p></dd>
	<dt>
		<a href="https://github.com/ackwell/ninjabot">ninjabot</a>
		<small>Python</small>
	</dt>
	<dd><p>Modular IRC bot written in Python. Supports dynamic reloading of bot modules and core.</p></dd>
	<dt>
		<a href="https://github.com/cyphar/rawline">rawline</a>
		<small>C</small>
	</dt>
	<dd><p>The small and self-contained line-editing library. Written in less than 1000 lines of ANSI C and can easily be included in any project.</p></dd>
	<dt>
		<a href="https://github.com/cyphar/magnesium">magnesium</a>
		<small>Python</small>
	</dt>
	<dd><p><b>(WIP)</b> Explosive messaging -- decentralised, zero-configuration LAN chat system for enterprise.</p></dd>
	<dt>
		<a href="https://github.com/cyphar/synge">synge</a>
		<small>C</small>
	</dt>
	<dd><p>Very powerful scientific calculation engine. Supports variables, short-cutting conditions and recursive expressions.</p></dd>
	<dt>
		<a href="https://github.com/cyphar/epyc">perfectgift</a>
		<small>Python + SQL</small>
	</dt>
	<dd><p>A tornado webapp, written by Group 4 at the NCSS Summer School 2014 all-nighter. Get the perfect gift for your friends, with this innovative wishlist app.</p></dd>
	<dt>
		<a href="https://github.com/cyphar/epyc">epyc</a>
		<small>Python</small>
	</dt>
	<dd><p>A python templating language (written for <a href="https://github.com/cyphar/perfectgift">perfectgift</a>).</p></dd>
	<dt>
		<a href="https://github.com/cyphar/copper">copper</a>
		<small>C</small>
	</dt>
	<dd><p>Cu, a C userland.</p></dd>
	<dt>
		<a href="https://github.com/cyphar/ttu">ttu</a>
		<small>C</small>
	</dt>
	<dd><p>Small program which silently converts TCP sockets to Unix sockets for any standard *nix executable.</p></dd>
	<dt>
		<a href="https://github.com/cyphar/tic-tac-toe">tic-tac-toe</a>
		<small>C</small>
	</dt>
	<dd><p>The classic game, boasting a heuristic AI. Supports zero, one or two players.</p></dd>
	<dt>
		<a href="https://github.com/cyphar/ascii-snake">ascii-snake</a>
		<small>C</small>
	</dt>
	<dd><p>Remake of the Nokia snake game for *nix consoles, with several compile-time configuration options.</p></dd>
	<dt>
		<a href="https://github.com/cyphar/moss">moss</a>
		<small>C</small>
	</dt>
	<dd><p>A simple command-line file viewer. Supports regex searching, multiple files, switching to <code>$EDITOR</code> and file reloading.</p></dd>
</dl>

{% endblock %}
