{% extends "layout.html" %}
{% block title %}Security{% endblock %}
{% block description %}A list of the security acknowledgements Aleksa Sarai has recieved and information security competitions he has taken part in.{% endblock %}
{% block body %}

<h2>Acknowledgements</h2>
<p>Over the past few years, as an avid security researcher, I have received acknowledgements from the following leading firms
for the discovery, responsible disclosure and collaboration in the fixing of security issues.</p>

<dl>
{% for ack in g.kudos %}
	<dt>
		{% if ack.url %}
			<a href="{{ ack.url }}">{{ ack.ack }}</a>
		{% else %}
			<a>{{ ack.ack }}</a>
		{% endif %}

		{% if ack.vuln %}
			<small>{{ ack.vuln }}</small>
		{% endif %}
	</dt>

	{% if ack.description %}
	<dd>
		<p>{{ ack.description|safe }}</p>
	</dd>
	{% endif %}
{% endfor %}
</dl>

<h2>Competitions</h2>
<p>Due to my interest in security research, I have (with a small <a href="https://github.com/hypnosec">team</a>) participated in multiple information security compeitions.
The following are some notable compeitions which I have taken part in</p>

<dl>
{% for comp in g.comps %}
	<dt>
		{% if comp.url %}
			<a href="{{ comp.url }}">{{ comp.comp }}</a>
		{% else %}
			<a>{{ comp.comp }}</a>
		{% endif %}

		{% if comp.rank %}
			<small>{{ comp.rank }}</small>
		{% endif %}
	</dt>

	{% if comp.description %}
	<dd>
		<p>{{ comp.description|safe }}</p>
	</dd>
	{% endif %}
{% endfor %}
</dl>

{% endblock %}
